{% extends "base.html" %}
{% block content%}
{% block title %}Посты пользователей на которых я подписан{% endblock %}
{% load thumbnail %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
{% for post in page_obj %}
    <ul>
        <li>
          Автор: <b>{{ post.author.username}}</b>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </li>
    </ul>
   {% thumbnail post.image "600x420" crop="center" upscale=True as im %}
    <img class="card-img my-2 image-container" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="img-fluid">
   {% endthumbnail %}
    <p>
      {{post.text}}
    </p>
    {% if post.group %}
      <a href="{% url 'posts:group_posts' post.group %}">Все записи группы</a>
    {% endif %}
    <br>
    <a href="{% url 'posts:post_detail' post_id=post.id%}">Подробная информация</a>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
{% endblock %}